@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-ExtraLight-webfont.woff") format("woff");
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Light-webfont.woff") format("woff");
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-stretch: normal;
}

@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    width: 760px;
    margin: 0 auto;
    color: #2a4a5c;
  }

  .left-sidebar {
    opacity: 0.22;
    z-index: 0;
  }

  .right-sidebar {
    position: absolute;
    width: 760px;
    margin: 0 auto;
    top: 50px;
  }

  .agreement-checkbox-label {
    color: #2a4a5c;
  }

  .choice-description p {
    color: #2a4a5c;
  }

  .forms .form-input {
    border: 1px solid #afafaf;
  }

  .wrapper-or {
    border-top: 1px solid #afafaf;
  }

  .wrapper-or .or {
    background: rgba(0, 0, 0, 0);
  }
}

body {
  font-family: "Barlow", Arial, sans-serif;
  font-weight: 400;
  font-stretch: normal;
  color: #2a4a5c;

  background-color: #eff6ff;
}

.main {
  display: flex;
  margin: 0 auto;

  background-color: #ffffff;
}

.left-sidebar {
  width: 760px;
  height: 1000px;
  padding: 50px;
  background-size: cover;
  background: no-repeat center url(./img/bg.jpg);
}

.left-sidebar-logo {
  /* border: 1px solid red; */
  width: 200px;
  height: 50px;
  background-image: url(./img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.right-sidebar {
  padding-left: 75px;
  padding-top: 110px;
}

.introduce {
  margin-bottom: 50px;
}

.introduce-title {
  font-size: 35px;
  font-weight: 600;

  margin-bottom: 25px;
}

.introduce-description {
  font-size: 20px;
}

.main-ouath2 {
  display: flex;
  margin-bottom: 50px;
}

.main-ouath2-btn {
  display: flex;
  width: 245px;
  height: 42px;
}

.main-ouath2-btn a {
  font-weight: 300;
  font-size: 15px;
  color: white;
  margin-top: 15px;
}

.main-ouath2 .btn-fb {
  background-color: #255a9b;
  margin-right: 35px;
}

.main-ouath2 .btn-in {
  background-color: #0076b6;
}

.main-ouath2-btn .logo {
  /* border: 1px solid red; */
  width: 50px;
  height: 100%;
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-fb .logo {
  background-image: url(./img/facebook.svg);
}

.btn-in .logo {
  background-image: url(./img/linkedin.svg);
}

.wrapper-or {
  /* display: relative; */
  border-top: 1px solid #eeeeee;
  margin-left: 140px;
  width: 250px;
  height: 50px;
}

.or {
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  padding-top: 7px;

  background-color: #ffffff;

  position: relative;
  top: -15px;
  left: 104px;
}

.forms {
  display: flex;
  margin-bottom: 50px;
}

.form-input {
  position: relative;
}

.form-input:first-child {
  margin-right: 35px;
}

.form-input input {
  box-sizing: border-box;
  width: 245px;
  height: 60px;
  padding: 10px 10px 0 10px;

  font-size: 18px;
  color: black;

  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

.form-input input:focus {
  border-left: 2px solid #3698fb;
}

.form-input label {
  letter-spacing: 0px;
  font-size: 14px;
  color: #96a5b1;

  position: absolute;
  left: 10px;
  top: 10px;
}

.main-choice-description h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
}

.main-choice-list {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-choice-list ul {
  display: flex;
}

.main-choice-list .checkbox {
  width: 100px;
  display: flex;
  margin-right: 40px;
  position: relative;
}

.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-label {
  padding-left: 30px;

  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-label:after {
  display: block;
  content: "i";

  border: 1px solid #afafaf;
  color: #afafaf;
  width: 10px;
  height: 10px;
  font-size: 10px;
  padding-left: 2.5px;
  border-radius: 50%;

  position: absolute;
  top: 3px;
  left: 103%;
}

.checkbox-label:before {
  border: 1px solid #afafaf;

  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: white; */

  position: absolute;
  top: -4px;
  left: 0px;
}

.checkbox-input:checked + .checkbox-label:before {
  border: 5px solid #3698fb;
}

.choice-description {
  width: 300px;
  height: 80px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  color: #afafaf;
  line-height: 20px;

  background-color: white;
}

.agreement {
  color: #afafaf;
  line-height: 20px;
  margin-bottom: 50px;
  position: relative;
}

.agreement-checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.agreement-checkbox-label {
  padding-left: 30px;
}

.agreement-checkbox-label:before {
  border: 1px solid #afafaf;

  content: "";
  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  top: 1px;
  left: 0px;
}

.agreement-checkbox-input:checked + .agreement-checkbox-label:before {
  border: 5px solid #3698fb;
}

.agreement-checkbox-label a {
  color: #3698fb;
  text-decoration: underline;
}

.btn-create {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  text-align: center;

  background-color: #3698fb;
}

.btn-create a {
  line-height: 50px;
  margin: auto 0;
  color: white;
}
